.flash-box
    .flash-box__notice

.contents    
    = render 'shared/side_bar'
    
    .contents__chat-main
        .contents__chat-main--main-header
            .contents__chat-main--main-header__left-box
                .contents__chat-main--main-header__left-box__current-group
                    sample
                .contents__chat-main--main-header__left-box__member-list
                    Member : 
                    .contents__chat-main--main-header__left-box__member-list__member
                        seo 
                    .contents__chat-main--main-header__left-box__member-list__member    
                        neko
            .contents__chat-main--main-header__edit-btn
                Edit
        .contents__chat-main--messages
            .contents__chat-main--messages__message
                .contents__chat-main--messages__message__upper-info
                    .contents__chat-main--messages__message__upper-info__talker
                        seo 
                    .contents__chat-main--messages__message__upper-info__date    
                        2016/09/21(Wed) 06:16:55
                .contents__chat-main--messages__message__text   
                    Hello world!

            .contents__chat-main--messages__message
                .contents__chat-main--messages__message__upper-info
                    .contents__chat-main--messages__message__upper-info__talker
                        neko 
                    .contents__chat-main--messages__message__upper-info__date
                        2016/09/22(Thu) 06:16:55
                .contents__chat-main--messages__message__text    
                    Good bye world!
        .contents__chat-main--form
            .form
                = form_for [@group, @message] do |f|
                    = f.text_field :content, class: 'form__text', placeholder: 'type a message'
                    .form__box    
                        = f.label :image, class: 'form__box__image' do
                            = fa_icon 'image', class: 'icon'
                            = f.file_field :image, class: 'hidden'
                    = f.submit 'Send', class: 'form__submit'