.flash-box
    .flash-box__notice

.contents    
    = render 'shared/side-bar'
    
    .chat-display
        .header
            .header__left-box
                .current-group
                    sample
                .member-list
                    Member : 
                    .member-list__member
                        seo 
                    .member-list__member    
                        neko
            .header__edit-btn
                Edit
        .messages
            = render @messages
        .form    
            = form_for [@group, @message] do |f|
                .input-box
                    .form__box                    
                        = f.text_field :content, class: 'form__box__text', placeholder: 'type a message'
                        = f.label :image, class: 'form__box__image' do
                            = fa_icon 'image', class: 'icon'
                            = f.file_field :image, class: 'hidden'
                    = f.submit 'Send', class: 'submit-btn'