.contents__chat-side
    .contents__chat-side--side-header 
        .contents__chat-side--side-header__box
            %h3.contents__chat-side--side-header__box__user-name
                = current_user.name
            %ul.contents__chat-side--side-header__box__menu
                %li.contents__chat-side--side-header__box__menu__new-group
                    = link_to new_group_path do
                        = fa_icon 'edit' , class: "icon" 
                %li.contents__chat-side--side-header__box__menu__edit-user
                    = link_to edit_user_path(current_user) do
                        = fa_icon 'cog' , class: "icon"
    .contents__chat-side--groups
        .contents__chat-side--groups__group
            - current_user.groups.each do |group|
                = link_to '#' do
                    .contents__chat-side--groups__group__group-name
                        = group.name
                    .contents__chat-side--groups__group__latest-message
                        メッセージはまだありません。